@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.montserrat-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.exo-100 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-200 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.exo-200 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.exo-300 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-400 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.exo-500 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.exo-600 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.exo-700 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.exo-800 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-900 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.exo-900 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 0.8rem;
}

.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}
.color-accent {
  color: #d9e520;
}
.color-primary {
  color: #0a0a36;
}
.color-primary-dark {
  color: #01011d;
}
.color-secondary {
  color: #8e66de;
}
.color-secondary-light {
  color: #b996ff;
}

.section {
  width: 100dvw;
  height: fit-content;
}

body {
  display: flex;
  width: 100dvw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
}

.isologo {
  cursor: pointer;
}
.isologo .isotipo {
  width: 70px;
  height: 70px;
  margin: 10px 5px 10px 10px;
}
.isologo .logotipo {
  width: 135px;
  height: fit-content;
  padding: 5px 10px;
}
.isologo .logotipo strong {
  color: #b996ff;
  width: 100%;
  font-size: 1.6rem;
}
.isologo .logotipo span {
  color: #8e66de;
}

nav {
  width: fit-content;
  height: 90px;
}
nav .navegacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 2rem;
}
nav .navegacion li {
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .navegacion li a {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  color: #b996ff;
  border: transparent 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
}

.botones {
  gap: 1rem;
  margin-right: 20px;
}
.botones .register {
  background-color: transparent;
  color: #d9e520;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 12.5px 15px;
  font-size: 1rem;
}
.botones .log-in {
  background-color: #d9e520;
  color: #000;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 12.5px 15px;
  font-size: 1rem;
  text-wrap: nowrap;
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../images/index/landing-fondo.png);
  background-size: cover;
}
.landing__text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
  width: 1000px;
  height: fit-content;
  padding: 20px 50px;
}
.landing__text h2 {
  font-size: 5rem;
}
.landing__text p {
  margin: 1em 0;
  font-size: 1.7rem;
}
.landing__text--botonera {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: normal;
  gap: 2rem;
  font-size: 1.2rem;
}
.landing__images {
  margin: 160px 50px;
}

.boton-catalogo {
  background-color: #d9e520;
  color: #000;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 15px;
}
.boton-cotizacion {
  background-color: transparent;
  color: #d9e520;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 15px;
}