@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes bar-top {
  0% {
    display: block;
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes bar-btm {
  0% {
    display: block;
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@keyframes bar-top-rev {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes bar-btm-rev {
  0% {
    transform: translateY(-8px) rotate(-45deg);
  }
  50% {
    transform: translateY(-8px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}
.montserrat-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.exo-100 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-200 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.exo-200 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.exo-300 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-400 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.exo-500 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.exo-600 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.exo-700 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-800 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.exo-800 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-900 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.exo-900 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 0.8rem;
}

.color-white {
  color: #fff;
}
.color-black {
  color: #000;
}
.color-accent {
  color: #d9e520;
}
.color-primary {
  color: #0a0a36;
}
.color-primary-dark {
  color: #01011d;
}
.color-secondary {
  color: #8e66de;
}
.color-secondary-light {
  color: #b996ff;
}

.section {
  width: 100dvw;
  height: fit-content;
}

body {
  display: flex;
  width: 100dvw;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  header {
    flex-direction: column;
  }
}

.isologo {
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .isologo {
    width: 100dvw;
    margin-top: 30px;
  }
}
.isologo .isotipo {
  width: 70px;
  height: 70px;
  margin: 10px 5px 10px 10px;
}
.isologo .logotipo {
  width: 135px;
  height: fit-content;
  padding: 5px 10px;
}
.isologo .logotipo strong {
  color: #b996ff;
  width: 100%;
  font-size: 1.6rem;
}
.isologo .logotipo span {
  color: #8e66de;
}

nav {
  width: fit-content;
  height: 90px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  nav {
    opacity: 0;
    position: absolute;
    transform: translateY(-200%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #000;
    width: 100dvw;
    height: 50%;
    transition: all 0.4s;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  nav {
    width: 100dvw;
  }
}
nav .navegacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  nav .navegacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  nav .navegacion {
    width: 100%;
  }
}
nav .navegacion li {
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .navegacion li a {
  width: 100%;
  height: fit-content;
  background-color: transparent;
  color: #b996ff;
  border: transparent 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
}
nav .navegacion.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: all 0.4s;
}
nav.active {
  position: fixed;
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #000;
  width: 100dvw;
  height: 50%;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s;
}

.botones {
  gap: 1rem;
  margin-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .botones {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .botones {
    width: 100%;
    padding: 10px 100px;
    margin: 0;
  }
}
.botones .register {
  background-color: transparent;
  color: #d9e520;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 12.5px 15px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .botones .register {
    width: 100%;
  }
}
.botones .log-in {
  background-color: #d9e520;
  color: #000;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 12.5px 15px;
  font-size: 1rem;
  text-wrap: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .botones .log-in {
    width: 100%;
  }
}
.botones.active {
  display: block;
  margin: 30px;
}
.botones.active a {
  margin: 0.5rem;
}

.hamburger {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .hamburger {
    display: block;
    height: 30px;
  }
}
.hamburger.active .bar-1 {
  animation: bar-top 0.3s;
  animation-fill-mode: forwards;
}
.hamburger.active .bar-2 {
  opacity: 0;
  transition: all 0.4s;
}
.hamburger.active .bar-3 {
  animation: bar-btm 0.3s;
  animation-fill-mode: forwards;
}

.bar {
  width: 25px;
  height: 3px;
  display: block;
  margin: 5px 20px;
  background-color: #b996ff;
}
.bar-1.animation {
  animation: bar-top-rev 0.3s;
  animation-fill-mode: forwards;
}
.bar-2 {
  transition: all 0.4s;
}
.bar-3.animation {
  animation: bar-btm-rev 0.3s;
  animation-fill-mode: forwards;
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../images/index/landing-fondo.png);
  background-size: cover;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.landing__text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
  width: 1000px;
  height: fit-content;
  padding: 20px 50px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .landing__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    margin: 50px 0 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .landing__text {
    width: 60%;
    height: auto;
  }
}
.landing__text h2 {
  font-size: 5rem;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .landing__text h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .landing__text h2 {
    font-size: 5dvw;
  }
}
.landing__text p {
  margin: 1em 0;
  max-width: 700px;
  font-size: 1.7rem;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .landing__text p {
    font-size: 1.4rem;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .landing__text p {
    font-size: 2dvw;
    max-width: 500px;
  }
}
.landing__text--botonera {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: normal;
  gap: 2rem;
  font-size: 1.2rem;
}
.landing__images {
  margin: 160px 50px;
}
.landing__images img {
  width: 35dvw;
  height: auto;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .landing__images img {
    width: 100%;
    padding: 0 20px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .landing__images img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .landing__images {
    width: 100%;
    margin: 40px 0px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .landing__images {
    width: 40%;
    height: auto;
    margin: 100px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .boton {
    font-size: 3dvw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .boton {
    font-size: 1.7dvw;
  }
}
.boton-catalogo {
  background-color: #d9e520;
  color: #000;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 15px;
}
.boton-cotizacion {
  background-color: transparent;
  color: #d9e520;
  border: #d9e520 1.5px solid;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 15px;
}