@keyframes bar-top {
    0% {
        display: block;
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(8px) rotate(45deg);
    }
}

@keyframes bar-btm {
    0% {
        display: block;
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@keyframes bar-top-rev {
    0% {
        transform: translateY(8px) rotate(45deg);
    }
    50% {
        transform: translateY(8px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes bar-btm-rev {
    0% {
        transform: translateY(-8px) rotate(-45deg);
    }
    50% {
        transform: translateY(-8px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

@keyframes scrollrev {
    from {
        transform: translate(calc(-50% - 0.5rem));
    }
    to {
        transform: translate(0%);
    }
}
