@mixin btn($bg-color, $text-color, $border-color) {
    background-color: $bg-color;
    color: $text-color;
    border: $border-color 1.5px solid;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}

@mixin width-height($width: fit-content, $height: fit-content) {
    width: $width;
    height: $height;
}

@mixin margin-padding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin flex-center($flex-direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin media-up($min, $max) {
    @media screen and (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
        @content;
    }
}
