.footer {
    @include flex-center(row, space-between, top);
    background-color: $color-black;
    width: 100dvw;
    padding: 60px 40px;
    @include media-up(sm, md) {
        @include flex-center(row, center, center);
        flex-wrap: wrap;
    }

    &-2,
    &-3,
    &-4 {
        padding: 20px 15px;
        width: 15dvw;

        a {
            margin: 0.5em 0;
            @include flex-center(row, left, center);
            width: fit-content;
            gap: 0.5em;
            &:hover {
                color: $color-white;
            }
        }
    }

    &-1 {
        @include media-up(sm, md) {
            order: 4;
            width: 100%;
            margin-top: 3em;
        }
    }

    &-2 {
        @include media-up(sm, md) {
            order: 3;
            width: 100dvw;
        }
    }
    &-3 {
        @include media-up(sm, md) {
            order: 2;
            width: 50%;
        }
    }
    &-4 {
        @include media-up(sm, md) {
            order: 1;
            width: 50%;
        }
    }
    &-section {
        @include flex-center(column, left, left);
        @include media-up(sm, md) {
            @include flex-center(column, center, center);
        }
        h6 {
            font-family: montserrat, sans-serif;
            font-size: 1.3dvw;
            margin-bottom: 1em;
            color: $color-white;
            @include media-up(sm, md) {
                font-size: 3dvw;
            }
        }
        a {
            font-family: "exo 2", sans-serif;
            font-size: 1dvw;
            font-weight: 500;
            text-decoration: none;
            max-width: 400px;
            color: $color-grey-light;
            @include media-up(sm, md) {
                font-size: 3dvw;
                text-align: center;
            }
        }
        p {
            font-family: "exo 2", sans-serif;
            font-size: 1dvw;
            font-weight: 500;
            text-decoration: none;
            max-width: 400px;
            color: $color-grey-light;
            @include media-up(sm, md) {
                font-size: 2dvw;
                max-width: 100%;
                text-align: center;
            }
        }
        .isologo {
            max-width: 500px;
            @include flex-center(row, left, center);
        }
        .links__container {
            @include flex-center(row, left, center);
            gap: 4dvw;
            .links {
                @include flex-center(column, left, left);
                @include media-up(sm, md) {
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
