body {
    display: flex;
    width: 100dvw;
}

header {
    @include flex-center(row, space-between);
    width: 100%;
    background-color: $color-black;
}

.isologo {
    cursor: pointer;
    .isotipo {
        @include width-height(70px, 70px);
        margin: 10px 5px 10px 10px;
    }
    .logotipo {
        @include width-height(135px);
        padding: 5px 10px;
        strong {
            color: $color-secondary-light;
            width: 100%;
            font-size: $m-size;
        }
        span {
            color: $color-secondary;
        }
    }
}

nav {
    @include width-height(fit-content, 90px);
    .navegacion {
        @include flex-center(row);
        @include width-height(fit-content, 100%);
        li {
            @include width-height(130px, 100%);
            @include flex-center;
            a {
                @include width-height(100%, fit-content);
                @include btn(transparent, $color-secondary-light, transparent);
                padding: 10px 15px;
                font-size: $s-size;
                text-align: center;
                justify-content: center;
            }
        }
    }
}

.botones {
    gap: 1rem;
    margin-right: 20px;
    .register {
        @include btn(transparent, $color-accent, $color-accent);
        padding: 12.5px 15px;
        font-size: 1rem;
    }
    .log-in {
        @include btn($color-accent, $color-black, $color-accent);
        padding: 12.5px 15px;
        font-size: 1rem;
        text-wrap: nowrap;
    }
}
