.landing {
    @include flex-center(row, center, center);
    background: url(../images/index/landing-fondo.png);
    background-size: cover;
    @include media-up(sm, md) {
        @include flex-center(column, center, center);
    }
    &__text {
        @include flex-center(column, left, normal);
        @include width-height(1000px);
        padding: 20px 50px;
        @include media-up(sm, md) {
            @include flex-center(column, center, center);
            width: 100dvw;
            margin: 50px 0 0 0;
        }
        @include media-up(md, lg) {
            width: 60%;
            height: auto;
        }
        h1 {
            font-size: 5rem;
            @include media-up(sm, md) {
                text-align: center;
                font-size: 3rem;
            }
            @include media-up(md, lg) {
                text-align: center;
                font-size: 5dvw;
            }
        }
        p {
            margin: 1em 0;
            max-width: 700px;
            font-size: 1.7rem;
            @include media-up(sm, md) {
                font-size: 1.4rem;
                text-align: center;
            }
            @include media-up(md, lg) {
                font-size: 2dvw;
                max-width: 500px;
            }
        }
        &--botonera {
            @include flex-center(row, left, normal);
            gap: 2rem;
            font-size: 1.2rem;
        }
    }
    &__images {
        margin: 160px 50px;
        img {
            width: 35dvw;
            height: auto;
            @include media-up(sm, md) {
                width: 100%;
                padding: 0 20px;
                height: auto;
            }
            @include media-up(md, lg) {
                width: 100%;
                height: auto;
            }
        }
        @include media-up(sm, md) {
            width: 100%;
            margin: 40px 0px;
            height: auto;
        }
        @include media-up(md, lg) {
            width: 40%;
            height: auto;
            margin: 100px 0;
        }
    }
}

.boton {
    @include media-up(sm, md) {
        font-size: 3dvw;
    }
    @include media-up(md, lg) {
        font-size: 1.7dvw;
    }
    &-catalogo {
        @include btn($color-accent, $color-black, $color-accent);
        padding: 10px 15px;
    }
    &-cotizacion {
        @include btn(transparent, $color-accent, $color-accent);
        padding: 10px 15px;
    }
    &:hover {
        @include btn($color-accent, $color-primary-dark, $color-accent);
    }
}

//seccion de mas info

@include media-up(sm, md) {
    .section.info {
        height: 100dvh;
    }
}

.scroller {
    max-width: 100dvw;
    @include media-up(sm, md) {
        height: 15dvh;
    }
    overflow: hidden;
    &[data-animated="true"] {
        overflow: hidden;

        .scroller__inner {
            flex-wrap: nowrap;
            width: max-content;
            &--1 {
                animation: scroll 15s linear infinite;
            }
            &--2 {
                animation: scrollrev 15s linear infinite;
            }
        }
    }
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    background-color: black;
    @include media-up(sm, md) {
        height: 100%;
    }
    .logo {
        list-style-type: none;
        font-family: montserrat, sans-serif;
        background-color: black;
        font-size: 1rem;
        width: 20dvw;
        @include flex-center();
        @include media-up(sm, md) {
            height: 100%;
        }
        align-items: center;

        img {
            max-width: 100%;
            @include media-up(sm, md) {
                max-width: 20dvw;
                scale: 1.7;
            }
            height: auto;
        }
    }
}
.sony img {
    width: 13dvw;
}
.apple img {
    width: 5dvw;
}
.samsung img {
    width: 20dvw;
}
.motorola img {
    width: 6dvw;
}
.tcl img {
    width: 13dvw;
}
.xiaomi img {
    width: 6dvw;
}

.about-us {
    max-width: 100dvw;
    background-color: $color-primary-dark;
    @include flex-center(row, center, center);
    @include media-up(sm, md) {
        height: 70dvh;
        flex-direction: column;
    }
    img {
        width: 33%;
        border-radius: 20px;
        &:last-child {
            transform: rotateY(180deg);
        }
        @include media-up(sm, md) {
            display: none;
        }
    }
    div {
        @include flex-center(column, center, center);
        height: 100%;
        width: 34%;
        gap: 2dvw;
        @include media-up(sm, md) {
            width: 100dvw;
            background: url(../images/index/info-img.jpeg);
            background-size: cover;
        }
        h2 {
            @include flex-center(column, center, center);
            font-family: montserrat, sans-serif;
            color: $color-secondary;
            font-size: 3.5dvw;
            text-wrap: wrap;
            font-weight: 400;
            strong {
                color: $color-accent;
                font-weight: 600;
            }
            @include media-up(sm, md) {
                font-size: 6dvh;
                background-color: $color-primary-dark;
                padding: 20px;
                border-radius: 15px;
                backdrop-filter: blur(8px);
            }
        }
        p {
            width: 80%;
            font-size: 1.3dvw;
            color: $color-white;
            text-align: center;
            font-family: "Exo 2", sans-serif;
            @include media-up(sm, md) {
                font-size: 2.5dvh;
                background-color: rgba(0, 0, 0, 0.562);
                padding: 20px;
                border-radius: 15px;
                backdrop-filter: blur(8px);
            }
        }
        .boton {
            @include btn(transparent, $color-accent, $color-accent);
            padding: 0.5dvw 2dvw;
            border-radius: 10px;
            font-family: montserrat, sans-serif;
            font-weight: 500;
            font-size: 1.2dvw;
            &:hover {
                @include btn($color-accent, $color-primary-dark, $color-accent);
            }
            @include media-up(sm, md) {
                font-size: 2dvh;
                padding: 1dvh 2.5dvh;
                width: 50%;
                background-color: rgba(0, 0, 0, 0.562);
                border-radius: 15px;
                backdrop-filter: blur(8px);
            }
        }
    }
}

.productos {
    @include flex-center(column, center, center);
    background: rgb(3, 3, 33);
    background: linear-gradient(180deg, rgba(3, 3, 33, 1) 0%, rgba(122, 24, 102, 1) 62%, rgba(3, 3, 33, 1) 100%);
    h3 {
        @include flex-center(column, center, center);
        font-family: montserrat, sans-serif;
        color: $color-secondary-light;
        font-size: 2.5dvw;
        text-wrap: wrap;
        font-weight: 500;
        padding: 3dvw;
        @include media-up(sm, md) {
            scale: 2;
            padding: 10% 0;
        }
    }
    &__imagenes {
        width: 100%;
        @include flex-center(row, center, center);
        @include media-up(sm, md) {
            @include flex-center(column, center, center);
            height: 200dvh;
        }
        a {
            max-width: 20%;
            width: 20%;
            @include flex-center(column, center, center);

            text-decoration: none;
            font-family: montserrat, sans-serif;
            font-size: 2.5dvw;
            color: $color-white;
            height: fit-content;
            filter: grayscale(100%);
            transition: all 0.2s;
            cursor: default;
            @include media-up(sm, md) {
                max-width: 100%;
                width: 100%;
                height: 40dvh;
                font-size: 3.5dvh;
                filter: grayscale(0%);
            }
            &:hover {
                cursor: pointer;
                filter: grayscale(0);
                transition: all 0.2s;

                span {
                    transform: translateY(-100%);
                    background-color: transparent;
                    backdrop-filter: blur(20px);
                    transition: all 0.2s;
                    @include media-up(sm, md) {
                        transform: none;
                        backdrop-filter: none;
                        background-color: #030321;
                    }
                }
            }
            img {
                width: 100%;
                @include media-up(sm, md) {
                    height: 100%;
                    object-fit: cover;
                }
            }
            span {
                position: absolute;
                width: fit-content;
                height: fit-content;
                text-align: center;
                bottom: 0;
                width: 100%;
                transition: all 0.2s;
                @include media-up(sm, md) {
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-color: #0303219d;
                    padding: 20px;
                    border-radius: 15px;
                    width: 50%;
                }
            }
        }
    }
    .boton {
        @include btn(transparent, $color-accent, $color-accent);
        font-family: montserrat, sans-serif;
        padding: 0.5dvw 1dvw;
        margin: 2em 0 3em 0;
        border-radius: 10px;
        font-family: montserrat, sans-serif;
        font-weight: 500;
        font-size: 1.2dvw;
        @include media-up(sm, md) {
            font-size: 2dvh;
            padding: 1dvh 2.5dvh;
            width: 50%;
            background-color: rgba(0, 0, 0, 0.562);
            border-radius: 15px;
            backdrop-filter: blur(8px);
        }
        &:hover {
            @include btn($color-accent, $color-primary-dark, $color-accent);
        }
    }
}
.servicios {
    @include flex-center(column, center, center);
    background: rgb(122, 24, 102);
    background: radial-gradient(rgba(122, 24, 102, 1) 0%, rgba(3, 3, 33, 1) 70%, rgba(3, 3, 33, 1) 89%);
    h3 {
        @include flex-center(column, center, center);
        font-family: montserrat, sans-serif;
        color: $color-secondary-light;
        font-size: 2.5dvw;
        text-wrap: wrap;
        font-weight: 500;
        @include media-up(sm, md) {
            scale: 2;
            padding: 5% 0;
        }
    }
    .container {
        width: 80%;
        margin: 1em 0;
        height: 40dvw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em 1em;
        grid-auto-flow: row;
        grid-template-areas:
            "servicio-01 servicio-02 servicio-02 servicio-05"
            "servicio-03 servicio-03 servicio-04 servicio-05";
        background-color: rgba(0, 0, 0, 0.219);
        border-radius: 20px;
        padding: 1rem;
        @include media-up(sm, md) {
            @include flex-center(column, center, center);
            height: 100dvh;
        }
    }
    @for $i from 1 through 5 {
        .servicio-0#{$i} {
            grid-area: servicio-0#{$i};
            background: url(../images/index/servicio-0#{$i}.jpg);
            background-size: cover;
            border-radius: 20px;
            transition: all 0.1s ease;
            @include media-up(sm, md) {
                width: 100%;
                height: 20dvh;
                @include flex-center(row, center, center);
            }

            &:hover {
                scale: 1.05;
                transition: all 0.2s ease;
                cursor: pointer;
            }
            h4 {
                margin: 0.5em 0 0 0.5em;
                font-family: montserrat, sans-serif;
                font-size: 3dvw;
                font-weight: 500;
                color: $color-accent;
                @include media-up(sm, md) {
                    margin: 0;
                    font-size: 10dvw;
                }
            }
            p {
                margin: 0 1em;
                font-family: "exo 2", sans-serif;
                font-size: 1.7dvw;
                font-weight: 500;
                color: $color-white;
                width: 76%;
                @include media-up(sm, md) {
                    margin: 0;
                    padding: 0 0 0 1em;
                    font-size: 3.5dvw;
                }
            }
        }
    }
    .boton {
        @include btn(transparent, $color-accent, $color-accent);
        font-family: montserrat, sans-serif;
        padding: 0.5dvw 1dvw;
        margin: 2em 0 3em 0;
        border-radius: 10px;
        font-family: montserrat, sans-serif;
        font-weight: 500;
        font-size: 1.2dvw;
        &:hover {
            @include btn($color-accent, $color-primary-dark, $color-accent);
        }
        @include media-up(sm, md) {
            font-size: 2dvh;
            padding: 1dvh 2dvh;
            width: 50%;
            background-color: rgba(0, 0, 0, 0.562);
            border-radius: 15px;
            backdrop-filter: blur(8px);
        }
    }
}

.opiniones {
    @include flex-center(column, center, center);
    background-color: #030321;
    @include media-up(sm, md) {
    }
    h5 {
        font-family: montserrat, sans-serif;
        color: $color-secondary-light;
        font-size: 2.5dvw;
        text-wrap: wrap;
        font-weight: 500;
        padding: 2dvw 0;
        @include media-up(sm, md) {
            scale: 2;
            padding: 5% 0;
        }
    }
    &__clientes {
        @include flex-center(row, center, center);
        width: 60%;
        margin: 2em 0;
        @include media-up(sm, md) {
            ion-icon {
                display: block;
                width: 100px;
                height: 50%;
                color: $color-accent;
                position: absolute;
                cursor: pointer;
            }
            .left-arrow {
                left: 0;
            }
            .right-arrow {
                right: 0;
            }
        }

        @for $i from 1 through 3 {
            .cliente-#{$i} {
                @include flex-center(column, center, center);
                border-radius: 20px;
                padding: 0;
                font-family: "exo 2", sans-serif;
                color: $color-white;
                @include media-up(sm, md) {
                    display: none;
                    transition: all 0.5s;
                }
                img {
                    width: 30%;
                    border-radius: 50%;
                    @include media-up(sm, md) {
                        width: 60%;
                    }
                }
                span {
                    margin: 1em 0;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.5dvw;
                    @include media-up(sm, md) {
                        font-size: 4dvw;
                        margin: 0.5em;
                    }
                }
                p {
                    font-size: 1dvw;
                    text-align: center;
                    @include media-up(sm, md) {
                        font-size: 3dvw;
                    }
                }
                &.active {
                    @include flex-center(column, center, center);
                    transition: all 0.5s;
                }
            }
            @include media-up(sm, md) {
                width: 50%;
                height: 40dvh;
                background-color: #00000071;
                border-radius: 15px;
            }
        }
    }
    .boton {
        @include btn(transparent, $color-accent, $color-accent);
        font-family: montserrat, sans-serif;
        padding: 0.5dvw 1dvw;
        margin: 2em 0 3em 0;
        border-radius: 10px;
        font-weight: 500;
        font-size: 1.2dvw;

        &:hover {
            @include btn($color-accent, $color-primary-dark, $color-accent);
        }
        @include media-up(sm, md) {
            font-size: 2dvh;
            padding: 1dvh 2dvh;
            width: 50%;
            background-color: rgba(0, 0, 0, 0.562);
            border-radius: 15px;
            backdrop-filter: blur(8px);
        }
    }
}
.contacto {
    @include flex-center(row, center, center);
    background-color: $color-primary;
    gap: 3em;
    @include media-up(sm, md) {
        @include flex-center(column, center, center);
        gap: 0;
    }
    h6 {
        font-family: montserrat, sans-serif;
        color: $color-secondary-light;
        font-size: 2.5dvw;
        text-wrap: wrap;
        font-weight: 500;
        padding: 2dvw 0;
        @include media-up(sm, md) {
            @include flex-center(column, center, center);
            font-size: 4dvw;
            padding-bottom: 0;
        }
    }
    a {
        font-family: montserrat, sans-serif;
        color: $color-white;
        font-size: 2.5dvw;
        text-wrap: wrap;
        font-weight: 500;
        padding: 2dvw 0;
        text-decoration: none;
        transition: all 0.1s;
        @include media-up(sm, md) {
            font-size: 6dvw;
        }

        &:hover {
            color: $color-accent;
        }
    }
}
